
<%- include("header") -%>

<h2> This is the About page </h2>
<p> This is a to-do list application </p>
<p> This is a to-do list application </p>
<p> This is a to-do list application </p>
<p> This is a to-do list application </p>
<p> This is a to-do list application </p>

<%- include("footer") -%>